/* Css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.collapse {
    padding-left: 10px;
}

/* Title and button */
h1 {
    font-size: x-large;
    display: inline-block;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

main {
    max-width: 1350px;
    margin: 0 auto;
}

/*Column Titles*/
.column-titles {
    font-weight: bold;
}

.titles-line {
    background-color: white;
    padding-bottom: 8px;
}

/*Books lines*/
.line-gray {
    background-color: #F2F2F2;
    border-top: 1px solid #DEE2E6;
    border-bottom: 1px solid #DEE2E6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.status-text {
    color: white;
    display: inline-block;
    border-radius: 8px;
    padding-bottom: 3px;
    padding-top: 2px;
    width: 100px;
    text-align: center;
    line-height: 20px;
}

.status-green {
    background-color: #198754;
} 
